

/* Your code here */

ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    width: 700px;
    height: 600px;
    column-gap: 0px;
}

li {
    display: flex;
    width: 200px; 
    height: 200px;
    border: 1px solid black;
    background-color: gray ;
    align-items: center;
    justify-content: center;

}
li:hover {
    background-color: #F4C2C2;
}


.selected {
    display: flex;
    background-color: #F4C2C2;
    color: rgb(255, 255, 255);
    font-size: 100px;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    height: 200px;
}

.hidden {
    display: none;
}

.win {
    display: block;
    color: green;
    font-size: 25px;
}
